html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    margin: 0;
}

div {}

.btn-primary {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    border: none;
    outline: none;
    font-size: 4vw;
}